<!DOCTYPE html>
<html lang="en">
<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
   .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:skyblue;
      
    }
  </style>
</head>
<body>
<h1>신라관,고구려관,백제관 유물모음</h1>
<!-- sila category--- -->
<div class="container">
  
  <hr>
  <h3>신라관</h3>
  <ul class="list-inline">
    
    <li><a href="https://www.museum.go.kr/relic_image/PS01001001/bon009/2016/1124093013018/700/bon009435-000-159.jpg">신라 금관</a></li>
    <li><a href="img/sila2.jpg">반가사유상</a></li>
    <li><a href="img/sila3.jpg">신라황금장신구</a></li>
  </ul>
</div>


<!-- baekjae category--- -->
<div class="container">
  
  <hr>
  <h3>백제관</h3>
  <ul class="list-inline">
    
    <li><a href="img/baekjae.jpg">백제금동대항로</a></li>
    <li><a href="img/baekjae2.jpg">백제토기</a></li>
    <li><a href="img/baekjae3.jpg">백제기와</a></li>
  </ul>
</div>


<!-- 고구려 category--- -->
<div class="container">
  
  <hr>
  <h3>고구려관</h3>
  <ul class="list-inline">
    
    <li><a href="img/go1.jpg">고구려불상</a></li>
    <li><a href="img/go2.png">호우명그릇</a></li>
    <li><a href="img/go3.jpg">봉황모양꾸미개</a></li>
  </ul>
</div>

</body>
</html>
