<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>signup</title>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<body>
  
  
    <h1>회원가입</h1>
  
  <div class="form-group">
  <label for="usr">id:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd"> 
</div>

<div class="form-group">
  <label for="number">휴대폰번호:</label>
  <input type="text" class="form-control" id="number"> 
</div>
  
  <p>성별</p>
  <div class="checkbox">
  <label><input type="checkbox" value="">남성</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">여성</label>
</div>



<button type="submit" class="btn btn-default">Submit</button>
</body>
</html>